.MuiTabs-scroller {
  overflow: visible !important;
}

.MuiTabs-fixed {
  overflow: visible !important;
}

.centered {
  justify-content: center;
}

// .MuiTabs-flexContainer {
//   justify-content: center;
// }
